
body {
    font-family: "Lato", sans-serif;
    background-color: #c8d8e4;
  }
/* NavBar style*/
.Profile_img{
    width :45px;
    height:45px;
    border-radius: 2rem;
}

.UnivLogo{
    height: 2rem ;
    margin-left: 1rem;
    border-radius: 20%;
}
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  
  /*End NavBar style*/


/*Heading Block*/
.headingBlock{
  margin: 7rem 4rem 1rem;
  border-radius: 2rem;
  background-image: url("Image/background.jpg");
}

.headingBlock_h1{
padding: 2rem 2rem 12rem;
color: black;
}

a.anchorHB{
margin-right: 5%;
text-decoration: none;
font-weight: bolder;

}

.anchorHeadingBlock{
margin-left: 52%;

}

@media(max-width:1115px){
.anchorHeadingBlock{
  margin-left: 0;
  text-align: center;
}
}
/*End Heading Block*/

  /*course assign block*/

.heading3{
  padding: 2rem 5rem 0.5rem;
  text-shadow: 0 0 7px rgb(14, 9, 26);
  color:rgb(253, 246, 246);
  
  
}

  .sub{
    margin-left:4rem;
  }
  .selectYear{
    padding-top: 0.35rem;
  }
  @media(max-width:768px){
    .sub{
      text-align: center;
      margin-left:0;
    }
  }
  /*end course assign block*/

  /*Question*/

  .profile{
    margin : 2% 12% 1%;
    
  }

  .col1{
    padding-top:1rem;
    background-color: black;
    border-radius: 1rem;
  }

  .textarea{
    padding:1rem;
  }


  .card{
    border-radius: 1rem;
    background-color: rgba(166, 168, 172,0.5);
    border:none;
    color:white;
    
  }
  
  .card-title{
    font-weight: bolder;
  
  }
  
  .card:hover{
    background-color: rgba(250, 254, 255);
    
  }
  
  .fontAw{
    margin:0.5rem;
    color:rgb(227, 227, 241);
  }
  
  i.cross:hover{
    color:rgb(243, 46, 46);
  }
  
  i.right:hover{
    color:rgb(71, 226, 71);
  }
  
   /*End Question*/